<body>
    <header>
        <div class="header">
            <div class="header2">
            <img src="images/logo.png" alt="logo" class="logo">
            <div class="flexsearch">
                <div class="flexsearch--wrapper">
                    <form class="flexsearch--form" action="#" method="post">
                        <div class="flexsearch--input-wrapper">
                            <input class="flexsearch--input" type="search" placeholder="search">
                            <input class="flexsearch--submit" type="submit" value="&#10140;"/>
                        </div>
                        
                    </form>
                </div>
            </div>
            <div class="slogan">
                <p>Lo mejor en videojuegos!</p>
            </div>
        </div>
            <ul class="list-header">
                <div class="list-products">
                <li><a href="#">Productos  <i class="fas fa-shopping-basket"></a></i></li>
                <li><a href="#">Mi carrito  <i class="fas fa-shopping-cart"></a></i></li></div>
                <div class="list-user">
                <li><a href="#">Registrarse <i class="far fa-id-card"></i></a></li>
                <li><a href="#">Iniciar Sesion <i class="fas fa-sign-in-alt"></i></a></li></div>
            </ul>

        </div>

    </header>